{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<main>
    <div>

        <h1 class="title">BIENVENUE CHEZ MISTRAL PANS!</h1>
        <div class="center">
                <img class="pictureHome" src="{{ asset('images/HandPanHome.jpg') }}" alt="Home Picture">
        </div>
        <div class="poste">
            <div class="category">
                <img class="categoryPicture" src="{{ asset('images/fabrication.png') }}" alt="Picture contractor">
                <div class="m-2 w-50">
                    <h2>Fabrication sur mesure</h2>
                    <p class="w-75">Choisissez la fréquence (432/440 hz), le nombre de notes, la gamme la couleur et recevez votre handpan.
                    </p>
                    <a class="btn btn-secondary" href="{{ path('app_production') }}">Création</a>
                </div>
            </div>

            <div class="category b">
                <img class="categoryPicture" src="{{ asset('images/boutique.jpg') }}" alt="Picture HandPan">
                <div class="m-2 w-50">
                    <h2>Nos dispos</h2>
                    <p class="w-75">Explorez nos handpans disponibles, choisissez votre mélodie préférée et laissez la musique commencer.
                    </p>
                    <a class="btn btn-secondary" href="{{ path('app_purchase') }}">La boutique</a>
                </div>
            </div>

            <div class="category">
                <img class="categoryPicture" src="{{ asset('images/location.jpg') }}" alt="Picture HandPan">
                <div class="m-2 w-50">
                    <h2>Location</h2>
                    <p class="w-75">Une envie pour quelques jour ? nous vous proposons ici de loué nos handpan
                    </p>
                    <a class="btn btn-secondary" href="{{ path('app_rental') }}">Location</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
