{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<main>
    <div>

        <div class="center">
            <img class="firstPictures" src="{{ asset('images/Acceuil.jpg') }}" alt="home page">
        </div>
        <h1 class="bandeau title">BIENVENUE CHEZ MISTRAL PANS!</h1>
        <div class="poste">
            <div class="category">
                <a class="PicturesHover" href="{{ path('app_production') }}"><img class="categoryPicture" src="{{ asset('images/fabrication.png') }}" alt="Picture contractor"></a>

                <div class="categoryBoxText">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up mobileSymbol" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                    </svg>
                    <h2 class="h2">Fabrication sur mesure</h2>
                    <p class="textCategory">Choisissez la fréquence (432/440 hz), le nombre de notes, la gamme la couleur et recevez votre handpan.
                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="50" fill="currentColor" class="bi bi-arrow-left desktopSymbol" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                    </p>
                </div>
            </div>

            <div class="category b">

                <a class="PicturesHover" href="{{ path('app_purchase') }}"><img class="categoryPicture" src="{{ asset('images/boutique.jpg') }}" alt="Picture HandPan"></a>

                <div class="categoryBoxText">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up mobileSymbol" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                    </svg>
                    <h2 class="h2">Nos dispos</h2>
                    <p class="textCategory">Explorez nos handpans disponibles, choisissez votre mélodie préférée et laissez la musique commencer.
                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="50" fill="currentColor" class="bi bi-arrow-right desktopSymbol" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                    </p>
                </div>
            </div>

            <div class="category">

                <a class="PicturesHover" href="{{ path('app_rental') }}"><img class="categoryPicture" src="{{ asset('images/location.jpg') }}" alt="Picture HandPan"></a>

                <div class="categoryBoxText ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up mobileSymbol" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                    </svg>
                    <h2 class="h2">Location</h2>
                    <p class="textCategory">Une envie pour quelques jour ? nous vous proposons ici de loué nos handpan
                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="50" fill="currentColor" class="bi bi-arrow-left desktopSymbol" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
