{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main>
    <div>
        <h1>Nous contacter</h1>

        <p>Une question? Une commande? Un mot d’amour?</p>
        <p>Nous ne sommes pas toujours à l’atelier, c’est pourquoi à l’heure actuelle les visites sont sur RDV.</p>

        <form method="post">
            {{ form_start(form) }}

            <div>
                {{ form_row(form.client.Name) }}
                {{ form_row(form.client.Email) }}
{#                {{ form_row(form.client.other_information) }}#}
            </div>

           <div>
               {{ form_row(form.comment.object) }}
               {{ form_row(form.comment.Message) }}
           </div>
            <button type="submit" class="btn btn-secondary">Envoyer</button>

            {{ form_end(form) }}
        </form>
    </div>
</main>
{% endblock %}
