<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mistral Pan{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            {% block importmap %} {{ importmap('app') }} {% endblock %}
            <script src="{{ asset('assets/js/app.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            {{ message }}
        </div>
    {% endfor %}

    {% include 'components/_navbar.html.twig' %}
        {% block body %}{% endblock %}
    {% include 'components/_footer.html.twig' %}


{#        <script src="{{ asset('assets/js/search.js') }}"></script>#}

    </body>
</html>
