{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
<main class="column">
    <h1 class="title">Comment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Object</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.object }}</td>
                <td>{{ comment.Message }}</td>
                <td>
                    <a href="{{ path('app_admin_comment_show', {'id': comment.id}) }}">Vue</a>
                    <a href="{{ path('app_admin_comment_edit', {'id': comment.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_comment_new') }}">Ajouter un nouveau commentaire</a>
</main>
{% endblock %}
