<h1>Nouvelle commande client</h1>
<p>Une nouvelle commande client a été enregistré avec les informations suivantes :</p>

    <p>Client: {{ client.getName() }}</p>
    <p>Email: {{ client.getEmail() }}</p>
    <p>Objet: {{ production.getMaterials() }}</p>
    <p>Message: {{ production.getTuning() }}</p>
    <p>Message: {{ production.getNoteNumber() }}</p>

